language: ruby
rvm:
  - 1.9.3
  - ruby-head
  - rbx-19mode
before_script:
  - mysql -u root -e "CREATE USER 'dev'@'localhost';"
  - mysql -u root -e "GRANT USAGE ON * . * TO  'dev'@'localhost' WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0;"
  - mysql -u root -e 'GRANT ALL PRIVILEGES ON  `dev\_%` . * TO  dev@localhost;'
  - mysql -u root -e "CREATE DATABASE dev__enginery;"
